<ul>
  <li *ngFor="let linkable of linkables">
    <ng-container *ngIf="linkable.url else dir">
      <!--router.data cannot be used. use queryParams  -->
      <!--<a [routerLink]=["path", {data: "data"}]>  -->
      <a [routerLink]="linkable.url"
         [queryParams]="linkable.queryParams">{{linkable.text ? linkable.text : linkable.url}}</a>
    </ng-container>
    <ng-template #dir>
      <div>{{linkable.text}}</div>
      <app-linkable [linkables]="linkable.children"></app-linkable>
    </ng-template>
  </li>
</ul>
