<div>The NgForm directive</div>
<p>What NgForm directive? You didn't add an NgForm directive.</p>
<p>Angular did. Angular automatically creates and attaches an NgForm directive to the
  form tag.</p>
<p>The NgForm directive supplements the form element with additional features. It holds the controls you created
  for</p>
<p>the elements with an ngModel directive and name attribute, and monitors their properties, including their
  validity.</p>
<p>It also has its own valid property which is true only if every contained control is valid.</p>
<br>
<form #myForm="ngForm">
  <!--exported as ngForm Directive-->
  <h3>form</h3>
  <label>
    Name:
    <input required type="text" #nameInput #nameModel="ngModel" class="form-control" [(ngModel)]="name" name="name">
    <br>
    <div>className: {{nameInput.className}}</div>
    <div>untouched=>touched: visited</div>
    <div>pristine=>dirty: change value</div>
    <div>valid-invalid: validity</div>
  </label>
  <label>
    Age:
    <input required type="number" [(ngModel)]="age" name="age">
  </label>
  <div [hidden]="nameModel.invalid || nameModel.pristine"
       class="alert alert-danger">
    Name is required
  </div>
  <h3>myForm is formGroup</h3>
  <div *ngIf="myForm.controls.name">name: {{myForm.controls.name.value}}</div>
  <div *ngIf="myForm.controls.age">Age: {{myForm.controls.age.value}}</div>
  <button></button>
</form>
